.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 122px;
}

.operations {
    width: 1161px;
}

.materials {
    width: 730px;
}

p {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;
    color: #6D6DB3;
    background-color: transparent;
}