table {
    align-content: center;
}

.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 122px;
    top: 120px;
}

.operations {
    width: 1000px;
}

.materials {
    width: 730px;
}

p {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;
    color: #6D6DB3;
    background-color: transparent;
}

select {
    width: 330px;
}

.sequence_th {
    width: 100px;
}

.sequence {
    width: 70px;
}

.quantity {
    width: 100px;
}