body {
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #E2EDFC;
}


.data input, select {
    margin-bottom: 14px;
    border: 1px solid #6D6DB3;
    border-radius: 9px;
    background-color: #E2EDFC;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: -0.02em;
    color: #090074;
}

.data input::placeholder {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    letter-spacing: -0.02em;
    color: #6D6DB3;
}

.data input:focus {
    outline: none;
    border: 2px solid #090074;
}

.btn_add_user, .btn{
    background: #BDD9FF;
    border: 1px solid #BDD9FF;
    border-radius: 11px;

    filter: drop-shadow(46px 28px 22px rgba(7, 31, 63, 0.01)) drop-shadow(26px 16px 18px rgba(7, 31, 63, 0.05)) drop-shadow(11px 7px 13px rgba(7, 31, 63, 0.09)) drop-shadow(3px 2px 7px rgba(7, 31, 63, 0.1)) drop-shadow(0px 0px 0px rgba(7, 31, 63, 0.1));

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 70px;
    /* identical to box height, or 175% */

    text-align: center;
    letter-spacing: -0.02em;
    color: #090074;
}

select {
    text-align: start;
    justify-content: center;
    appearance: none;
    background: url("../img/select.svg") no-repeat right 16px;
}

.btn {
    position: fixed;
    left: 1150px;
    top: 615px;
}

.check {
    width: 20px;
    height: 19px;
}
