table {
    position: absolute;
    width: 1216px;
    left: 122px;
    top: 315px;
}

.form {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 122px;
    top: 100px;
}

p {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.02em;
    color: #6D6DB3;
    background-color: transparent;
}

.workshops, input[type=text], .stock_quantity {

    width: 588px;
    height: 47px;
}
.time_container{
    display: flex;
}
.time {
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 47px;
}
.time input{
    width: 75px;
    margin-right: 10px;
}

.unit {
    width: 100px;
    height: 47px;
}