table{
    position: absolute;
    width: 1216px;
    left: 122px;
    top: 315px;
}
.technologist_functions{
    position: absolute;
    width: 591px;
    height: 56px;
    margin-left: 122px;
    margin-top: 20.8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_technologist{
    box-sizing: border-box;
    width: 137px;
    height: 39px;
    filter: drop-shadow(46px 28px 22px rgba(7, 31, 63, 0.01))
    drop-shadow(26px 16px 18px rgba(7, 31, 63, 0.05))
    drop-shadow(11px 7px 13px rgba(7, 31, 63, 0.09))
    drop-shadow(3px 2px 7px rgba(7, 31, 63, 0.1))
    drop-shadow(0px 0px 0px rgba(7, 31, 63, 0.1));

    background: #BDD9FF;
    border: 1px solid #B5D4FF;
    border-radius: 11px;
    align-items: center;
    text-decoration: none;
}

.btn_technologist p{
    width: 112px;
    height: 35px;
    margin-left: calc(50% - 112px/2 - 0.5px);
    margin-top: 1.7px;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    /* identical to box height, or 280% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #090074;
}
