<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="../static/img/feather.svg" type="image/png">
    <title>Contoso</title>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/table.css" th:href="@{/css/table.css}">
    <link type="text/css" rel="stylesheet" href="../static/css/add_product.css" th:href="@{/css/add_product.css}">

</head>
<body>
<header th:insert="blocks/header :: header"></header>
<form action="/products/add" method="post" th:object="${product}" class="form">
    <div class="data">
        <p>Тип:
            <select th:field="*{type}">
                <option th:value="'Карандаш'">Карандаш</option>
                <option th:value="'Ручка'">Ручка</option>
            </select>
        </p>
        <p>Модель:
            <select th:field="*{model}">
                <option th:value="'Big'">Big Карандаш</option>
                <option th:value="'Small'">Small Карандаш</option>
                <option th:value="'Standard'">Standard Ручка</option>
                <option th:value="'High'">High Ручка</option>
                <option th:value="'Low'">Low Ручка</option>
            </select></p>
        <p>Размер стержня (ручка):
            <select th:field="*{rodSize}">
                <option th:value="'L'">L</option>
                <option th:value="'M'">M</option>
            </select></p>
        <p>Краска:
            <select th:field="*{paintKind}">
                <option th:value="'Белая'">Big_белый</option>
                <option th:value="'Красная'">Big_красный</option>
                <option th:value="'Черная'">Big_чёрный</option>
                <option th:value="'Черная'">Small_чёрный</option>
                <option th:value="'Красная'">Small_красный</option>
            </select></p>
        <p>Введите артикул</p>
        <input th:field="*{article}" type="text" required>
        <p>Маршрут</p>
        <table class="operations" th:object="${operations}">
            <tr>
                <th>Цех</th>
                <th>Операция</th>
                <th>Время выполнения</th>
                <th></th>
            </tr>
            <div th:each="operation : ${operations}">
                <tr>
                    <td th:text="${operation.workshop}"></td>
                    <td th:text="${operation.name}"></td>
                    <td th:text="${operation.hours} + ':' + ${operation.minutes}"></td>
                    <td><input type="number" min="1" step="1" name="selectedOperationsSequencing"></td>
                    <td><input type="checkbox" class="check" name="selectedOperations" th:value="${operation.id}"></td>
                </tr>
            </div>
        </table>
        <p>Спецификация</p>
        <table class="materials" th:object="${materials}">
            <tr>
                <th>Материал</th>
                <th>Кол-во</th>
                <th></th>
            </tr>
            <div th:each="material : ${materials}">
                <tr>
                    <td th:text="${material.type} + ' ' + ${material.name}"></td>
                    <td><input type="number" placeholder="кол-во" name="selectedMaterialsQuantity"></td>
                    <td><input type="checkbox" class="check" name="selectedMaterials" th:value="${material.id}"></td>
                </tr>
            </div>
        </table>
    </div>
    <input class="btn" type="submit" value="Сохранить"/>
</form>
</body>
</html>