<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/img/feather.svg" type="image/png">
    <title>Contoso</title>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/operation_material.css"
          th:href="@{/css/operation_material.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<form action="/operations/add" method="post" th:object="${operation}" class="form">
    <div class="data">
        <p>Выберите цех</p>
        <select th:field="*{workshop}" name="workshop" class="workshops">
            <option value="Сборочный цех">Сборочный цех</option>
            <option value="Покрасочный цех">Покрасочный цех</option>
            <option value="Упаковочный цех">Упаковочный цех</option>
        </select>
        <p>Введите название операции</p>
        <input type="text" th:field="*{name}" placeholder="Название операции" required><br/>
        <p>Время выполнения поерации</p>
        <input type="number" min="0" th:field="*{hours}" value="0" required><br/>
        <input type="number" min="0" th:field="*{minutes}" value="0" required><br/>
    </div>
    <input class="btn" type="submit" value="Сохранить"/>
</form>
</body>
</html>