<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="../static/img/feather.svg" type="image/png">
    <title>Contoso</title>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/admin_header.css" th:href="@{/css/admin_header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/add_user.css" th:href="@{/css/add_user.css}"/>
</head>
<body>
<header class="header">
    <a class="home" href="/admin">
        <img src="../static/img/contoso.svg" alt="Главная"/>
    </a>
    <a href="/logout" class="logout">
        <img src="../static/img/logout.svg" alt="Выйти"/>
    </a>
</header>
<h1>Добавление нового пользователя</h1>
<div class="add_user_form">
    <form action="/employees/add" method="post" th:object="${employee}">
        <div class="data">
            <select name="position">
                <option value="2">Технолог</option>
                <option value="3">Диспетчер</option>
                <option value="4">Мастер сборочного цеха</option>
                <option value="5">Мастер покрасочного цеха</option>
                <option value="6">Мастер упаковочного цеха</option>
            </select>
            <input th:field="*{firstName}" placeholder="Имя" required><br/>
            <input th:field="*{lastName}" placeholder="Фамилия" required><br/>
            <input th:field="*{email}" placeholder="email" required><br/>
            <input th:field="*{phoneNumber}" placeholder="Номер телефона" required><br/>
        </div>
        <input class="btn" type="submit" value="Сохранить"/>
    </form>
</div>
</body>
</html>