<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/img/feather.svg" type="image/png">
    <title>Contoso</title>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/add_user.css" th:href="@{/css/add_user.css}"/>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<p th:text="${error}"></p>
<h1>Добавление нового пользователя</h1>
<div class="add_user_form">
    <form action="/employees/add" method="post" th:object="${employee}">
        <div class="data">
            <select name="roleId">
                <option th:each="role:${roles}" th:value="${role.id}" th:text="${role.roleName}"></option>
            </select>
            <input th:field="*{firstName}" placeholder="Имя" required><br/>
            <input th:field="*{lastName}" placeholder="Фамилия" required><br/>
            <input th:field="*{email}" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="email" required><br/>
            <input data-mask="phone" th:field="*{phone}" pattern="^\+375 \(\d{2}\) [0-9]{3} [0-9]{2} [0-9]{2}$" placeholder="Номер телефона" required>
            <script src="https://unpkg.com/imask"></script>
            <script src="../static/js/phone_input.js" th:src="@{/js/phone_input.js}"></script>
            <br/>
        </div>
        <input type="submit" value="Сохранить" class="btn_add_user"/>
    </form>
</div>
</body>
</html>