<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" href="../static/img/feather.svg" type="image/png">
  <title>Contoso</title>
  <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
  <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
  <link type="text/css" rel="stylesheet" href="../static/css/edit_product.css" th:href="@{/css/edit_product.css}"/>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<h1>Редактирование пользователя</h1>
<div class="edit_product_form">
  <form th:action="'/products/' + ${product.id}" method="post" th:object="${product}">
    <div class="data">

    <input class="btn" type="submit" value="Сохранить"/>
  </form>
</div>
</body>
</html>