<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/img/feather.svg" type="image/png">
    <title>Contoso</title>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/edit_user.css" th:href="@{/css/edit_user.css}"/>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<h1>Редактирование пользователя</h1>
<div class="edit_user_form">
    <form th:action="'/employees/' + ${employee.id}" method="post" th:object="${employee}">
        <div class="data">
            <select name="roleId">
                <option value="1">Admin</option>
                <option value="2">Технолог</option>
                <option value="3">Диспетчер</option>
                <option value="4">Мастер сборочного цеха</option>
                <option value="5">Мастер покрасочного цеха</option>
                <option value="6">Мастер упаковочного цеха</option>
            </select>
            <input th:field="*{firstName}" th:value="${employee.firstName}" placeholder="Имя" required><br/>
            <input th:field="*{lastName}" th:value="${employee.lastName}" placeholder="Фамилия" required><br/>
            <input th:field="*{email}" th:value="${employee.email}" placeholder="email" required><br/>
            <input th:field="*{phone}" th:value="${employee.phone}" placeholder="Номер телефона" required><br/>
        </div>
        <input class="btn" type="submit" value="Сохранить"/>
    </form>
</div>
</body>
</html>