<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/img/feather.svg" type="image/png">
    <title>Contoso</title>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/table.css" th:href="@{/css/table.css}">
    <link type="text/css" rel="stylesheet" href="../static/css/add_product.css" th:href="@{/css/add_product.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/js/add_product.js" th:src="@{/js/add_product.js}"></script>
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div th:object="${product}">
    <form th:action="'/products/' + ${product.id}" method="post" class="form">
        <div class="data">
            <p>Тип:
                <select th:field="*{type}" id="type" th:value="${product.type}">
                    <option value="">Выберите тип изделия</option>
                    <option th:value="'Карандаш'">Карандаш</option>
                    <option th:value="'Ручка'">Ручка</option>
                </select>
            </p>
            <p>Модель:
                <select th:field="*{model}" th:value="${product.model}" id="model">
                    <option value="">Выберите тип изделия</option>
                </select>
            </p>
            <select th:field="*{property}" th:value="${product.property}" id="property">
                <option value="">Выберите тип изделия</option>
            </select>
            <p>Введите артикул</p>
            <input th:field="*{article}" th:value="${product.article}" type="text" required>
            <p>Маршрут</p>
            <table class="operations">
                <tr>
                    <th>Цех</th>
                    <th>Операция</th>
                    <th>Время выполнения</th>
                    <th>Порядок выполнения</th>
                    <th></th>
                </tr>
                <div th:each="operation: ${product.getRoute().getOperationInRoutes()}">
                    <tr>
                        <td th:text="${operation.operation.workshop}"></td>
                        <td th:text="${operation.operation.name}"></td>
                        <td th:text="${operation.operation.hours} + ':' + ${operation.operation.minutes}"></td>
                        <td>
                            <input type="number" min="1" step="1"
                                   name="selectedOperationsSequencing" th:value="${operation.sequencing}">
                        </td>
                        <td>
                            <input type="checkbox" class="check"
                                   name="selectedOperations"
                                   th:value="${operation.operation.id}" checked>
                        </td>
                    </tr>
                </div>
                <div th:each="_operation : ${operations}">
                    <tr>
                        <td th:text="${_operation.workshop}"></td>
                        <td th:text="${_operation.name}"></td>
                        <td th:text="${_operation.hours} + ':' + ${_operation.minutes}"></td>
                        <td>
                            <input type="number" min="1" step="1"
                                   name="selectedOperationsSequencing">
                        </td>
                        <td>
                            <input type="checkbox" class="check"
                                   name="selectedOperations"
                                   th:value="${_operation.id}">
                        </td>
                    </tr>
                </div>
            </table>
        </div>
        <p>Спецификация</p>
        <table class="materials" th:object="${materials}">
            <tr>
                <th>Материал</th>
                <th>Кол-во</th>
                <th></th>
            </tr>
            <div th:each="material : ${product.getMaterialsForProducts()}">
                <tr>
                    <td th:text="${material.material.name}"></td>
                    <td><input type="number" placeholder="кол-во" name="selectedMaterialsQuantity" th:value="${material.quantity}"></td>
                    <td><input type="checkbox" class="check" name="selectedMaterials" th:value="${material.material.id}" checked>
                    </td>
                </tr>
            </div>
            <div th:each="material : ${materials}">
                <tr>
                    <td th:text="${material.name}"></td>
                    <td><input type="number" placeholder="кол-во" name="selectedMaterialsQuantity"></td>
                    <td><input type="checkbox" class="check" name="selectedMaterials" th:value="${material.id}">
                    </td>
                </tr>
            </div>
        </table>
        <input class="btn" type="submit" value="Сохранить"/>
    </form>
</div>
</body>
</html>