<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/img/feather.svg" type="image/png">
    <title>Contoso</title>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/table.css" th:href="@{/css/table.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/order_w_create.css"
          th:href="@{/css/order_w_create.css}"/>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<a class="back" th:href="'/orders-p/' + ${id}">
    <img src="/img/To_back.png" alt="Назад">
</a>
<form th:action="'/orders-p/' + ${id} + '/components'" th:object="${materialsToOrder}" method="post" class="form">
    <table>
        <tr>
            <th>№</th>
            <th>Наименование</th>
            <th>В наличии</th>
            <th>Необходимо</th>
            <th>Дозаказать</th>
        </tr>

        <div th:each="material, index : ${materialsToOrder}">
            <tr>
                <td th:text="${index.index + 1}"></td>
                <td th:text="${material.name}"></td>
                <td th:text="${material.stockQuantity}"></td>
                <td th:text="${material.necessaryQuantity}"></td>
                <td th:text="${material.orderedQuantity}"></td>
            </tr>
        </div>
    </table>
    <button class="btn" type="submit" th:disabled="${totalQuantity==0}">Заказать</button>
</form>
</body>
</html>