<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="../static/img/feather.svg" type="image/png">
    <title>Contoso</title>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/table.css" th:href="@{/css/table.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/search.css" th:href="@{/css/search.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/admin.css"
          th:href="@{/css/admin.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/sort.css" th:href="@{/css/sort.css}"/>
</head>
<body>
<header th:insert="blocks/header::header"></header>
<div class="search">
    <form action="/paint" method="post">
        <p><input type="search" name="id" placeholder="Что вы ищите?" class="search__form">
            <input type="submit" value="" class="search_button">
        </p>
    </form>
</div>
<select class="sort">
    <option>Статус</option>

</select>
<div class="orders">
    <table>
        <tr>
            <th>№</th>
            <th>Заказчик</th>
            <th>Статус</th>
            <th>Дата заказа</th>
            <th>Крайняя дата</th>
            <th>Время выполнения</th>
        </tr>
        <div th:each="order : ${ordersOnProduction}">
            <tr>
                <td><a th:href="'/paint/' + ${order.id}" th:text="${order.id}"></a></td>
                <td th:text="${order.name}"></td>
                <td th:text="${order.status}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.desiredDate}"></td>
            </tr>
        </div>
    </table>
</div>
</body>
</html>