<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="shortcut icon" href="/img/feather.svg" type="image/png">
    <title>Contoso</title>
    <link type="text/css" rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/header.css" th:href="@{/css/header.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/search.css" th:href="@{/css/search.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/table.css" th:href="@{/css/table.css}"/>
    <link type="text/css" rel="stylesheet" href="../static/css/technologist.css"
          th:href="@{/css/technologist.css}"/>
</head>
<body>
<header th:insert="blocks/header::header">
</header>
<div class="search">
    <form action="/products/search" method="get">
        <p><input type="search" name="article" placeholder="Введите артикул" class="search__form">
            <input type="submit" value="" class="search_button">
        </p>
    </form>
    <a href="/products">
        <img src="/img/delete.svg" alt="Отмена"/>
    </a>
</div>
<nuv class="technologist_functions">
    <a class="btn_technologist" href="/products/add"><p>Создать</p></a>
    <a class="btn_technologist" href="/materials"><p>Материалы</p></a>
    <a class="btn_technologist" href="/operations"><p>Операции</p></a>
</nuv>
<div class="list">
    <table>
        <tr>
            <th>№</th>
            <th>Изделие</th>
            <th>Артикул</th>
            <th></th>
            <th></th>
        </tr>
        <div th:each="product : ${products}">
            <tr>
                <td th:text="${product.id}"></td>
                <td th:text="${product.type} +' ' + ${product.model} + ' (' + ${product.property} + ')'"></td>
                <td th:text="${product.article}"></td>
                <td class="more">
                    <a th:href="'/products/' + ${product.id}">
                        <img src="/img/edit.svg" alt="Редактировать"/>
                    </a>
                </td>
                <td class="delete">
                    <a th:href="'/products/' + ${product.id} + '/delete'">
                        <img src="/img/delete.svg" alt="Удалить"/>
                    </a>
                </td>
            </tr>
        </div>
    </table>
</div>
</body>
</html>