<div th:fragment="header">
  <a class="home" href="/home">
    <img src="../static/img/contoso.svg" alt="Главная"/>
  </a>
  <a href="/logout" class="logout">
    <img src="../static/img/logout.svg" alt="Выйти"/>
  </a>
</div>

<!--<div th:fragment="header_home_">-->
<!--  <a class="home" href="/employee">-->
<!--    <img src="../static/img/contoso.svg" alt="Главная"/>-->
<!--  </a>-->
<!--  <a href="/logout" class="logout">-->
<!--    <img src="../static/img/logout.svg" alt="Выйти"/>-->
<!--  </a>-->
<!--</div>-->