<div th:fragment="assembly">
    <form th:if="${orderOnProduction.status == 'Отправлен на сборку'}" method="get" th:action="'/assembly/' + ${orderOnProduction.id} + '/start'">
        <button type="submit" class="btn_m">Начать сборку</button>
    </form>
    <form th:if="${orderOnProduction.status == 'Сборка'}" method="get" th:action="'/assembly/' + ${orderOnProduction.id} + '/end'">
        <button type="submit" class="btn_m">Завершить сборку</button>
    </form>
    <form th:if="${orderOnProduction.status == 'Сборка завершена'}" method="get" th:action="'/assembly/' + ${orderOnProduction.id} + '/send'">
        <button type="submit" class="btn_m" >Передать в следующий цех</button>
    </form>
</div>

<div th:fragment="paint">
    <form th:if="${orderOnProduction.status == 'Отправлен на покраску'}" method="get" th:action="'/paint/' + ${orderOnProduction.id} + '/start'">
        <button type="submit" class="btn_m">Начать покраску</button>
    </form>
    <form th:if="${orderOnProduction.status == 'Покраска'}" method="get" th:action="'/paint/' + ${orderOnProduction.id} + '/end'">
        <button type="submit" class="btn_m">Завершить покраску</button>
    </form>
    <form th:if="${orderOnProduction.status == 'Покраска завершена'}" method="get" th:action="'/paint/' + ${orderOnProduction.id} + '/send'">
        <button type="submit" class="btn_m">Передать в следующий цех</button>
    </form>
</div>

<div th:fragment="packing">
    <form th:if="${orderOnProduction.status == 'Отправлен на упаковку'}" method="get" th:action="'/packing/' + ${orderOnProduction.id} + '/start'">
        <button type="submit" class="btn_m">Начать упаковку</button>
    </form>
    <form th:if="${orderOnProduction.status == 'Упаковка'}" method="get" th:action="'/packing/' + ${orderOnProduction.id} + '/end'">
        <button type="submit" class="btn_m">Завершить упаковку</button>
    </form>
    <form th:if="${orderOnProduction.status == 'Упаковка завершена'}" method="get" th:action="'/packing/' + ${orderOnProduction.id} + '/send'">
        <button type="submit" class="btn_m" >Отправить на склад</button>
    </form>
</div>