<div th:fragment="assembly">
    <div th:if="${orderOnProduction.status == 'Отправлен на сборку'}">
        <button type="submit" class="btn_m" th:action="'/assembly/' + ${orderOnProduction.id} + '/start'">Начать сборку</button>
    </div>
    <div th:if="${orderOnProduction.status == 'Сборка'}">
        <button type="submit" class="btn_m" th:action="'/assembly/' + ${orderOnProduction.id} + '/end'">Завершить сборку</button>
    </div>
    <div th:if="${orderOnProduction.status == 'Сборка завершена'}">
        <button type="submit" class="btn_m" th:action="'/assembly/' + ${orderOnProduction.id} + '/send'">Передать в следующий цех</button>
    </div>
</div>

<div th:fragment="paint">
    <div th:if="${orderOnProduction.status == 'Отправлен на покраску'}">
        <button type="submit" class="btn_m" th:action="'/paint/' + ${orderOnProduction.id} + '/start'">Начать покраску</button>
    </div>
    <div th:if="${orderOnProduction.status == 'Покраска'}">
        <button type="submit" class="btn_m" th:action="'/paint/' + ${orderOnProduction.id} + '/end'">Завершить покраску</button>
    </div>
    <div th:if="${orderOnProduction.status == 'Покраска завершена'}">
        <button type="submit" class="btn_m" th:action="'/paint/' + ${orderOnProduction.id} + '/send'">Передать в следующий цех</button>
    </div>
</div>

<div th:fragment="packing">
    <div th:if="${orderOnProduction.status == 'Отправлен на упаковку'}">
        <button type="submit" class="btn_m" th:action="'/packing/' + ${orderOnProduction.id} + '/start'">Начать упаковку</button>
    </div>
    <div th:if="${orderOnProduction.status == 'Упаковка'}">
        <button type="submit" class="btn_m" th:action="'/packing/' + ${orderOnProduction.id} + '/end'">Завершить упаковку</button>
    </div>
    <div th:if="${orderOnProduction.status == 'Упаковка завершена'}">
        <button type="submit" class="btn_m" th:action="'/packing/' + ${orderOnProduction.id} + '/send'">Отправить на склад</button>
    </div>
</div>